<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TOP</title>
		<link href="/css/style.css" rel="stylesheet" type="text/css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

		<script src="/js/note.js"></script>
	</head>
	<body>
		<!-- <a href="/new" style="padding-left: 20px;"><button type="button">新規投稿</button></a> -->

		<!-- Ajax投稿 -->
		<!-- 動的にidを付与 -->
		<form method="post" action="/add" th:object="${formModel}" style="margin: 20px 0;">
		    <input type="text" name="content" size="20" maxlength="200" class="content"/>
		    <button type="button" onclick="Post()">投稿</button>
		</form>
		<!-- Ajax投稿 -->

		<!-- narrowing of content -->
		<div>
			<form th:action="@{/narrow}" method="get">
				日付
				<input name="startDate" type="date" id="start" value="${start}">
				～
				<input name="endDate" type="date" id="end" value="${end}">
				<!-- <input type="submit" value="絞り込み"> -->
				<button type="button" onclick="narrowContent()">絞り込み</button>
			</form>
		</div>
		<!-- /narrowing of content -->

		<div class="narrows_content">
			<div class="ajax-display">
				<div th:each="content, state : ${contents}" style="padding: 20px;" th:id="${content.id}">
					<!-- <div th:text="${content.id}"></div> -->
					<div th:text="${content.content}" class="contents"></div>
					<div th:text="${content.updatedDate}" pattern="yyyy/MM/dd HH:mm:ss" class="latter_content"></div>

					<div>
						<!-- <form  th:action="@{/delete/{id}(id=${content.id})}" th:method="delete" style="display:inline;">
							<input type="submit" value="削除" />
						</form> -->

						<!-- Comment delete form Ajax version -->
						<form  th:action="@{/delete/{id}(id=${content.id})}" method="delete" style="display:inline;">
							<button type="button" th:onclick="|deleteContent('__${content.id}__')|">削除</button>
						</form>
						<!-- /Comment delete form Ajax version -->

						<!-- <div  style="display:inline;">
							<a th:href="@{/edit/{id}(id=${content.id})}">
							<button type="button">編集</button></a>
						</div> -->

						<!-- Ajax 編集 -->
						<div  style="display:inline;" class="edit">
							<a th:action="@{/edit/{id}(id=${content.id})}" method="get">
								<button type="button" th:onclick="|getEditFunk('__${content.id}__','__${state.index}__')|">編集</button>
							</a>
						</div>
						<!-- Ajax 編集 -->

						<div th:each="reply : ${replys}">
							<div th:if="${content.id == reply.report_id}" th:id="${reply.id}">
								<div th:text="${reply.reply}"></div>

								<!-- Comment delete form -->
								<!-- <form  th:action="@{/commentDelete/{id}(id=${reply.id})}" th:method="delete" style="display:inline;">
									<input type="submit" value="コメント削除" />
								</form> -->
								<!-- /Comment delete form -->

								<!-- Comment delete form Ajax version -->
								<form th:action="@{/commentDelete/{id}(id=${reply.id})}" method="delete">
									<button type="button" th:onclick="|deleteFunk('__${reply.id}__')|">コメント削除</button>
								</form>
								<!-- /Comment delete form Ajax version -->

								<!-- Comment edit form -->
								<!-- <a th:href="@{/commentEdit/{id}(id=${reply.id})}">
									<button type="button">コメント編集</button>
								</a> -->
								<!-- /Comment edit form -->

								<!-- Ajax Comment edit form -->
								<!-- <a th:href="@{/commentEdit/{id}(id=${reply.id})}" method="get" class="edit">
									<button type="button" th:onclick="|getEditFunk('__${reply.id}__')|">コメント編集</button>
								</a> -->
								<!-- / Ajax Comment edit form -->
							</div>
						</div>

						<!-- Ajaxにて表示 -->
						<div  class="notes">

						</div>
						<!-- Ajaxにて表示 -->

						<!-- reply form -->
						<!-- <form th:action="@{/comment/{id}(id=${content.id})}" method="post">
							<input name="reply" size="20" maxlength="200" style="margin: 10px 0;"/>
							<br /> <input type="submit" value="返信">
						</form> -->
						<!-- /reply form -->

						<!-- Ajax機能追加 -->
						<!-- 動的にidを付与 -->
						<form th:action="@{/comment/{id}(id=${content.id})}" method="post" class="note_form">
						    <input name="reply" size="20" maxlength="200" class="note" style="margin: 10px 0;" />
						    <button type="button"
						    th:onclick="|return clickFunk('__${state.index}__','__${content.id}__','__${content.content}__')|">
						    送信</button>
						</form>
						<!-- /Ajax機能追加 -->
					</div>
				</div>
			</div>
		</div>
	</body>
</html>